@model List<ResultProductDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<div class="row">
    <div class="col-md-12">
        <div class="white_shd full margin_bottom_30">
            <div class="full graph_head">
                <div class="heading1 margin_0">
                    <h2>Ürünler Listesi</h2>
                </div>
            </div>
            <div class="table_section padding_infor_info">
                <div class="table-responsive-sm">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Ürün Adı</th>
                                <th>Eski Fiyat</th>
                                <th>Yeni Fiyat</th>
                                <th>Kategori</th>
                                <th>Mevcutta Var Mı?</th>
                                <th>Sil</th>
                                <th>Güncelle</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <td>@count</td>
                                    <td>@item.ProductName</td>
                                    <td>@item.OldPrice</td>
                                    <td>@item.NewPrice</td>
                                    <td>@item.CategoryName</td>
                                    @if (item.Status)
                                    {
                                        <td><span style="color:green;">Var</span></td>
                                    }
                                    else
                                    {
                                        <td><span style="color:red;">Yok</span></td>
                                    }
                                    <td><button onclick="areyousure(this)" id="@item.ProductId" class="btn btn-outline-danger">Sil</button></td>
                                    <td><a href="/Admin/Product/UpdateProduct/@item.ProductId" class="btn btn-outline-warning">Güncelle</a></td>
                                </tr>
                            }

                        </tbody>
                    </table>
                    <a href="/Admin/Product/CreateProduct" class="btn btn-outline-primary">Yeni Ürün Ekle</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        function areyousure(button) {
            var id = button.getAttribute("id");
            Swal.fire({
                title: "Silmek istediğinize emin misiniz?",
                text: "Bu işlemi geri alamazsınız",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Evet, Sil!",
                cancelButtonText: "İptal"
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "/Admin/Product/DeleteProduct/" + id;
                }
            });
        }
    </script>

